<a href="https://colab.research.google.com/github/pdurgabhargaviprathusha/pdurgabhargaviprathusha/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Create a DataFrame
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 24, 35, 32],
        'City': ['New York', 'Paris', 'Berlin', 'London']}

df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:")
print(df)

# Add a new column
df['Salary'] = [50000, 60000, 55000, 65000]

# Display updated DataFrame
print("\nUpdated DataFrame with Salary:")
print(df)

# Filter rows where Age is greater than 30
filtered_df = df[df['Age'] > 30]

# Display filtered DataFrame
print("\nFiltered DataFrame (Age > 30):")
print(filtered_df)

DataFrame:
    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

Updated DataFrame with Salary:
    Name  Age      City  Salary
0   John   28  New York   50000
1   Anna   24     Paris   60000
2  Peter   35    Berlin   55000
3  Linda   32    London   65000

Filtered DataFrame (Age > 30):
    Name  Age    City  Salary
2  Peter   35  Berlin   55000
3  Linda   32  London   65000